
@{
    ViewBag.Title = "MostrarDatos";
}

<h2 class="text-center m-5">Datos registrados:</h2>
<a href="@Url.Action("ImprimirPDF","Libros")" target="_blank" class="btn btn-success mb-4">
    Imprimir
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-printer-fill " viewBox="0 0 16 16">
        <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z" />
        <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
    </svg>
</a>
<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">ISBN</th>
            <th scope="col">Titulo</th>
            <th scope="col">Numero de paginas</th>
            <th scope="col">Editorial</th>
            <th scope="col">Autor</th>
            <th scope="col">Fecha de publicación</th>
        </tr>
    </thead>
    <tbody>
        
            @Html.Raw(ViewData["datos"])
      
   

    </tbody>
  
</table>


